@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  input[type="color"]::-webkit-color-swatch {
    padding: 0;
    border: none;
  }
  input[type="color"]::-moz-color-swatch {
    padding: 0;
    border: none;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  .colorpick{
   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

  }
  .slide-page{
    height: 100%;
    width: 100%;
  }
  .active{
    transform: translate(0px);
    opacity: 100%;
  }       
  .inactive{
    transform: translate(100%);
    opacity: 0%;
    position: absolute;
  }
  .leftInactive{
    transform: translate(-100%);
    opacity: 0%;
    position: absolute;
  }
}

