@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  input[type="color"]::-webkit-color-swatch {
    padding: 0;
    border: none;
  }
  input[type="color"]::-moz-color-swatch {
    padding: 0;
    border: none;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  .colorpick{
   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
  }        
}